@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    font-family: 'Poppins', sans-serif;
}
/* customCss */
.ls-max-width{
    max-width: 80rem;
}
.ls-max-width-2{
    max-width: 44rem;
}
.ls-ff-eb{
    font-family: 'EB Garamond', serif;
}
.ls-ff-poppins{
    font-family: 'Poppins', sans-serif;
}
.ls-border{
    border: 1px solid #E7E7E7;
}
.ls-hover:hover{
    background-color: #F5F5F5;

}
.ls-btn-primary{
    background-color: #B68C5A;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: none;
    transition: .5s ease-in-out;
}
.ls-btn-primary:hover{
    background-color: #7d5d37;
}
.ls-text-primary{
    color: #414040;
}
.ls-text-secondary{
    color: #707070;
}
.ls-text-3rd{
    color: #cfcfcf;
}
.ls-section-mt{
    margin-top: 7.5rem;
}
.ls-section-pt{
    padding-top: 7.5rem;
}
/* hero section */
.hero{
    background-image: url(./images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero::before{
    background-color: #0e0e0e8a;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
/* carousel */
.ls-carousel{
    background-image: url(./images/Rectangle\ 6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.ls-carousel::before{
    background-color: #0e0e0ea7;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.ls-carousel-2{
    background-image: url(./images/judges-gavel-scale-justice-black-table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.ls-carousel-2::before{
    background-color: #0e0e0ea7;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.ls-carousel-3{
    background-image: url(./images/law-justice-concept-dark-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.ls-carousel-3::before{
    background-color: #0e0e0ea7;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
/* contact */
.address > * {
    padding-right: calc(var(--bs-gutter-x) * 0.0);
    padding-left: calc(var(--bs-gutter-x) * 0.0);
}
.communication{
    background-color: #F3F3F3;
}
